.login {
   background-image: linear-gradient(#21c08b, #8f57fd);
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 0px 30px;
   min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
 }
 
 .login__container {
   background-color: rgba(255,255,255,0.1);
   border: 2px solid white;
   border-radius: 40px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 60px 68px 40px;
 }
 
 .login__container--form {
   display: flex;
   flex-direction: column;
 }
 
 .login__container--form label {
   font-size: 14px;
 }
 
 .login__container--remember-me {
   color: white;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
 }
 
 .login__container--remember-me a {
   color: white;
   font-size: 14px;
   text-decoration: none;
 }
 
 .login__container--remember-me a:hover {
   text-decoration: underline;
 }
 
 .login__container--social-media > div {
   align-items: center;
   display: flex;
   font-size: 14px;
   margin-bottom: 10px;
 }
 
 .login__container--social-media > div > img {
   margin-right: 10px;
   width: 30px;
 }
 
 .login__container--register {
   font-size: 14px;
 }
 
 .login__container--register a {
   color: white;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
 }
 
 .login__container--register a:hover {
   text-decoration: underline;
 }
 