.register {
   background-image: linear-gradient(#21c08b, #8f57fd);
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 0px 30px;
   min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
 }
 
 .register__container {
   background-color: rgba(255,255,255,0.1);
   border: 2px solid white;
   border-radius: 40px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 60px 68px 40px;
 }
 
 .register__container--form {
   display: flex;
   flex-direction: column;
 }
 
 .register__container a {
   color: white;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
 }
 
 .register__container a:hover {
   text-decoration: underline;
 }